<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NFLogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NFLoggerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C401744B1E39961F005BF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C40174E81E3C3C8E005BF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C40175031E3C3CAE005BF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C401751B1E3C3CAE005BF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C40175261E3C3CAE005BF015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
